body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins";
}
html {
    height: 100vh;
    padding: 0;
}
body {
    min-height: 100vh;
    padding: 0;
}

select {
    width: 100%;
    height: 42px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.dataTables_filter {
    margin-bottom: 3rem;
}

.dataTables_length {
    float: left;
    margin-right: 30px;
}
.dt-button {
    padding: 6px;
    width: 2cm;
    border-radius: 10px !important;
    background-color: #0b0b0b !important;
    color: white !important;
    font-weight: bold;
}

.container {
    animation: transitionIn 0.5s;
}

.fs-8 {
    font-size: 12px;
}

.w3-sidebar {
    animation: side-load 300ms ease-in;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.label-img {
    cursor: pointer;
}

.floating-div {
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.relative {
    position: relative;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-center-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.floating-percent {
    position: fixed;
    z-index: 1000;
    width: 7.5%;
    height: 17.5%;
}

.center-percent {
    margin: 0;
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.card-pesan {
    background-color: white;
    border-radius: 10px;
    padding: 15px 40px;
    opacity: 100;
    width: 40%;
}

.card-dashboard {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.272);
}

.card-list {
    width: 100%;
    height: 15%;
    border-radius: 15px;
    position: relative;
    animation: cardMove 1s ease-in;
}
.card-list:hover {
    background-color: #80808021;
    font-weight: bold;
    cursor: context-menu;
}

.label-p {
    font-size: 11px;
    margin: 0px;
    color: #808080c4;
    font-weight: normal !important;
}

.cont-progressbar {
    background-color: #d2d2d2;
    width: 100%;
    height: 10px;
    border-radius: 20px;
}

@keyframes side-load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes cardMove {
    from {
        opacity: 0;
        bottom: -50px;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-3deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
